.shadowBox {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 0 3px;
}

.title,
.toDo {
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 1.5rem;
}

.button {
  border: none;
  background: none;
  padding: 0%;
  cursor: pointer;
}

h1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
