.buttonContainer {
  width: 15rem;
  padding: 1rem;
  border-bottom: #808080 solid 0.2rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.buttonContainer:hover,
.selected {
  background-color: #eae5e2;
}
